.pdb30 {
    padding-bottom: 30px;
}

.mt30 {
    margin-top: 30px;
}

.brand_box {
    width: 730px;
    margin: 0 auto 40px auto;
}

#main h2 {
    margin: 0 0 10px 0;
    line-height: 1.5;
    border-left: 3px solid #764C24;
    margin: 10px 0;
    padding: 0 0 0 4px;
    font-size: 20px;
}

.brand_box ul li {
    padding: 3px;
}
