body {
    background-color: #ffffd2;
    margin: 0;
    font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 80%;
    line-height: 160%;
    color: #3C1E14;
    min-width: 1200px;
    -webkit-text-size-adjust: 100%;
}

a{
    text-decoration: none;
    color: #3C1E14;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}

#header {
    height: 124px;
    margin: 0;
    background: linear-gradient(to top, #37AFE1 0%, #37AFE1 50%, #3C1E14 50%, #3C1E14 100%);
    font-size: 11px;
    color: #FFF;
}

#header_new{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
}

.logo{
    width: 250px; 
    height: 70px;
}

.mt15 {
    margin-top: 15px;
}

.header-right{
    text-align: right;
}

.map{
    margin: 30px 0 5px 0;    
}

.header_shopbtn{
    margin: 15px 0 12px 0
}

.header_shopbtn a{
    color: #3C1E14;
    background-color: #FFF;
    padding: 5px;
    border-radius: 5px;   
}

.header_line {
    width: 100%;
    border-bottom: 1px solid #59391c;
    height: 1px;
}

#menu_wrapper {
    width: 1010px;
    height: 56px;
    margin: 12px auto 20px auto;
    padding: 0 90px;   
}

#menu_wrapper li {
    float: left;
    font-size: 17px;
    padding: 15px;
    font-weight: bold;
}

#menu_wrapper li+li {
    border-left: 1px dotted #AA8953;
}

#main {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#cont_path {
    font-size: 80%;
    margin: 0 0 30px;
}

#cont_path .pathcap {
    padding-left: 10px;
}

#cont_side {
    width: 200px;
    display: inline;
    float: left;
    margin: 0 0 20px 0px;
}

#cont_side .li_mbk01 a {
    height: 40px;
    line-height: 40px;
    background-color: #A7824F;
}

#cont_side .li_mbk02 a, #cont_side .li_mbk02 strong {
    font-weight: bold;
    padding: 10px 0 10px 3px;
}

#cont_side li a {
    color: #3E1F11;
    display: block;
    padding: 0 5px;
    text-decoration: none;
}

#cont_side .li_mbk02{
    border-bottom: dotted 1px #3C1E14;
}

#cont_main {
    width: 760px;
    display: inline;
    float: right;
    margin: 0px 0px 40px 0px;
}

#cont_main {
    color: #3C1E14;
}

.cap_bk {
    font-size: 180%;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: solid 2px #3C1E14;
}

.cont_news .boxnews {
    clear: both;
    padding: 0 0 40px;
}

.cont_news .p_title {
    clear: both;
    padding-bottom: 7px;
    color: #660000;
    border-bottom: 1px solid #660000;
}

.cont_news .p_date {
    font-weight: bold;
    color: #3B1E0E;
    padding: 3px 0 8px;
}

.cont_news .p_photo {
    float: left;
    padding: 0 15px 25px 0px;
    width: 100px;
    height: 100px;
}

.cont_news .p_more {
    padding: 25px 0 0;
    text-align: right;
}

.p_more a{
    background-color: #A7824F;
    padding: 10px;
}

.prev-next li.prev, .prev-next li.next {
    display: inline-block;
    font-size: 120%;
    font-weight: bolder;
    padding: 0 20px;
}

.prev-next li.next {
    border-left: 1px dotted #3E1F11;
}

#kensaku_page {
    width: 740px;
    padding: 10px;
    margin: 50px 0 30px 0;
    border: double 5px #e6b422;
}

#kensaku_inner2 {
    display: flex;
    background: #FFF;
    padding: 15px;
    font-size: 12px;
}

#kensaku_inner2 .fLeft {
    width: 330px;
    padding: 0 5px 0 0;
    border-right: 1px dotted #ccc;
}

#kensaku_page h3 {
    margin: 0 0 10px 0;
    font-size: 110%;
    font-weight: bold;
}

#kensaku_page p {
    margin: 0 0 10px 15px;
    height: 65px;
}

#kensaku_inner2 .fRight_page {
    width: 365px;
    margin-left: 10px;
}

footer {
    width: 100%;
    background-color: #00B1BB;
    padding: 15px 0 15px 0;
    border-top: double 3px #ffffff;
    color: #FFFFFF;
    font-size: 12px;
    line-height: normal;
}

#footer_inner {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.footer_links01 li, .footer_links02 li {
    float: left;
    margin: 0 10px 0 0;
    line-height: 100%;
}

footer a {
    color: #FFF;
}

.footer_links01 li+li, .footer_links02 li+li {
    border-left: 1px solid #FFFFD2;
    padding: 0 0 0 10px;
}

.footer_links02 {
    margin: 0 0 40px 0;
}

footer p {
    line-height: 150%;
    margin: 0 auto;
}

p.copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    font-size: 11px;
}